In [43]:
# # Importing libraries for file handling 
!pip install pandas

Requirement already satisfied: pandas in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [44]:
# Installing the Faker library to generate fake data for testing and simulations  
!pip install faker

Requirement already satisfied: faker in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (33.3.0)
Requirement already satisfied: python-dateutil>=2.4 in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (from python-dateutil>=2.4->faker) (1.17.0)

In [45]:
# Importing necessary libraries for data handling, fake data generation, randomization, and date manipulation  
import pandas as pd
from faker import Faker
import random
from datetime import datetime, timedelta

# Initializing Faker to Generate Synthetic Data

In [46]:
# Initialize Faker for generating synthetic data
faker = Faker("en_IN")

# Number of records for each table
NUM_CUSTOMERS = 200
NUM_RESTAURANTS = 80
NUM_ORDERS = 400
NUM_DELIVERIES = 400
NUM_DELIVERY_PERSONS = 40

# Data Generation for Customers Dataset

In [47]:
# Function to generate Customers dataset
def generate_customers(num_records):
    customers = []
    for i in range(1, num_records + 1):
        customers.append({
            "customer_id": f"C{i:03}",
            "name": (name := faker.first_name_male() if random.choice([True, False]) else faker.first_name_female()),
            "email": f"{name.lower()}@gmail.com",
            "phone": random.choice([6, 7, 8, 9]) * 1000000000 + random.randint(10000000, 99999999),
            "location": f"{faker.street_address()}, {faker.city()}, {faker.state().upper()}",
            "signup_date": faker.date_this_decade(),
            "is_premium": faker.boolean(),
            "preferred_cuisine": random.choice(["indian", "chinese", "italian", "mexican"]),
            "total_orders": random.randint(1, 10),
            "average_rating": round(random.uniform(1, 5), 1)
        })
    return pd.DataFrame(customers)

# Data Generation for Restaurants Dataset

In [48]:
# Function to generate Restaurants dataset
def generate_restaurants(num=80):
    restaurants = []
    first_words = [
        "Saffron", "Annapurna", "Rasa", "Paneer", "Golden", "Naan", "Chaat",
        "Dosa", "Tandoori", "Biryani", "Spice", "Curry", "Mithai", "Sizzler",
        "Flavors", "Garam", "Masala", "Tandoor", "Roti", "Chai", "Kebab"
    ]
    second_words = [
        "Spice", "Palace", "Kitchen", "Bistro", "Delight", "Royale", "Corner",
        "Bliss", "Haven", "House", "Co", "Tale", "Treats", "World", "Stop",
        "Spot", "Station", "Express", "Kingdom", "Place", "Mahal"
    ]
    for i in range(1, num + 1):
        name = f"{random.choice(first_words)} {random.choice(second_words)}"
        restaurants.append({
            "restaurant_id": f"R{i:03}",
            "name": name,
            "cuisine_type": random.choice(["Indian", "Chinese", "Italian", "Mexican", "Thai", "Continental"]),
            "location": f"{faker.city()}, {faker.state().upper()}",  # Only city, state
            "owner_name": faker.name(),
            "average_delivery_time(min)": random.randint(20, 60),
            "contact_number": random.choice([6, 7, 8, 9]) * 1000000000 + random.randint(10000000, 99999999),
            "rating": round(random.uniform(1, 5), 1),
            "total_orders": random.randint(5, 10),
            "is_active": faker.boolean()
        })
    return pd.DataFrame(restaurants)

# Data Generation for Orders Dataset

In [49]:
# Function to generate Orders dataset
def generate_orders(customers_df, restaurants_df, num=400):
    orders = []
    for i in range(1, num + 1):
        customer = customers_df.sample().iloc[0]
        restaurant = restaurants_df.sample().iloc[0]
        order_date = faker.date_this_year()
        random_hour = random.randint(1, 12)
        random_minute = random.randint(0, 59)
        period = random.choice(["AM", "PM"])
        delivery_time = f"{random_hour:02}:{random_minute:02} {period}"

        orders.append({
            "order_id": f"O{i:03}",
            "customer_id": customer["customer_id"],
            "restaurant_id": restaurant["restaurant_id"],
            "order_date": order_date,
            "delivery_time": delivery_time,
            "status": random.choice(["Pending", "Delivered", "Cancelled"]),
            "total_amount": round(random.uniform(100, 1000), 2),
            "payment_mode": random.choice(["Credit Card", "Cash", "UPI"]),
            "discount_applied": random.randint(50, 150),
            "feedback_rating": round(random.uniform(1, 5), 1)
        })
    return pd.DataFrame(orders)

# Data Generation for delivery_person Dataset

In [50]:
# Function to generate delivery_person dataset
def generate_delivery_persons(num=40):
    delivery_persons = []
    for i in range(1, num + 1):
        delivery_persons.append({
            "delivery_person_id": f"D{i:03}",
            "name": faker.first_name_male(),
            "contact_number": random.choice([6, 7, 8, 9]) * 1000000000 + random.randint(10000000, 99999999),
            "vehicle_type": random.choice(["Bike", "Car"]),
            "total_deliveries": random.randint(5, 15),
            "average_rating": round(random.uniform(1, 5), 1),
            "location": f"{faker.city()}, {faker.state().upper()}"  
        })
    return pd.DataFrame(delivery_persons)

# Data Generation for deliveries  Dataset

In [51]:
# Function to generate deliveries dataset
def generate_deliveries(orders_df, delivery_persons_df, num=400):
    deliveries = []
    for i in range(1, num + 1):
        order = orders_df.sample().iloc[0]
        delivery_person = delivery_persons_df.sample().iloc[0]
        distance = random.randint(2, 15)
        delivery_time = random.randint(15, 60)
        estimated_time = random.randint(20, 60)

        deliveries.append({
            "delivery_id": f"DLY{i:03}",
            "order_id": order["order_id"],
            "delivery_person_id": delivery_person["delivery_person_id"],
            "delivery_status": random.choice(["On the way", "Delivered"]),
            "distance(km)": distance,
            "delivery_time(min)": delivery_time,
            "estimated_time(min)": estimated_time,
            "delivery_fee": random.randint(30, 150),
            "vehicle_type": delivery_person["vehicle_type"]
        })
    return pd.DataFrame(deliveries)

# Generate and Save Datasets to CSV Files

In [52]:
# Generate datasets
customers_df = generate_customers(NUM_CUSTOMERS)
restaurants_df = generate_restaurants(NUM_RESTAURANTS)
orders_df = generate_orders(customers_df, restaurants_df, NUM_ORDERS)
delivery_persons_df = generate_delivery_persons(NUM_DELIVERY_PERSONS)
deliveries_df = generate_deliveries(orders_df, delivery_persons_df, NUM_DELIVERIES)

# Save datasets into CSV files
customers_df.to_csv('customers.csv', index=False)
restaurants_df.to_csv("restaurants.csv", index=False)
orders_df.to_csv("orders.csv", index=False)
delivery_persons_df.to_csv("delivery_persons.csv", index=False)
deliveries_df.to_csv("deliveries.csv", index=False)

In [53]:
customers_df.head()

,customer_id,name,email,phone,location,signup_date,is_premium,preferred_cuisine,total_orders,average_rating
0,C001,Timothy,timothy@gmail.com,7077107836,"H.No. 591, Gour Marg, Cuttack, ODISHA",2023-01-02,False,italian,6,3.6
1,C002,Gunbir,gunbir@gmail.com,9088685024,"88/002, Morar Circle, Sultan Pur Majra, GOA",2021-02-16,True,chinese,4,3.4
2,C003,Qadim,qadim@gmail.com,9088487610,"778, Choudhary Nagar, Gurgaon, SIKKIM",2023-04-25,True,mexican,7,2.3
3,C004,Leela,leela@gmail.com,7094534770,"03\nWason Ganj, Bhubaneswar, HARYANA",2020-11-04,False,mexican,8,2.5
4,C005,Hemangini,hemangini@gmail.com,9084382786,"52/91\nBorra Nagar, Proddatur, GOA",2020-02-27,True,mexican,2,3.3

In [54]:
customers_df

,customer_id,name,email,phone,location,signup_date,is_premium,preferred_cuisine,total_orders,average_rating
0,C001,Timothy,timothy@gmail.com,7077107836,"H.No. 591, Gour Marg, Cuttack, ODISHA",2023-01-02,False,italian,6,3.6
1,C002,Gunbir,gunbir@gmail.com,9088685024,"88/002, Morar Circle, Sultan Pur Majra, GOA",2021-02-16,True,chinese,4,3.4
2,C003,Qadim,qadim@gmail.com,9088487610,"778, Choudhary Nagar, Gurgaon, SIKKIM",2023-04-25,True,mexican,7,2.3
3,C004,Leela,leela@gmail.com,7094534770,"03\nWason Ganj, Bhubaneswar, HARYANA",2020-11-04,False,mexican,8,2.5
4,C005,Hemangini,hemangini@gmail.com,9084382786,"52/91\nBorra Nagar, Proddatur, GOA",2020-02-27,True,mexican,2,3.3
...,...,...,...,...,...,...,...,...,...,...
195,C196,Manan,manan@gmail.com,9084312287,"H.No. 882, Bhatnagar Chowk, Gulbarga, MANIPUR",2022-12-10,True,mexican,9,4.9
196,C197,Upkaar,upkaar@gmail.com,7062984042,"43/61, Kapur Street, Bhiwani, GUJARAT",2021-10-29,False,chinese,8,4.9
197,C198,Alexander,alexander@gmail.com,8019316128,"205, Baral, Thoothukudi, KERALA",2022-11-04,True,italian,1,4.5
198,C199,Samaksh,samaksh@gmail.com,9030319779,"06/89\nWagle, Nellore, ANDHRA PRADESH",2022-01-22,False,italian,10,1.9
199,C200,Hiral,hiral@gmail.com,8053581214,"H.No. 15, Parmar Circle, Ahmedabad, GOA",2020-09-08,True,chinese,8,4.0

In [55]:
restaurants_df

,restaurant_id,name,cuisine_type,location,owner_name,average_delivery_time(min),contact_number,rating,total_orders,is_active
0,R001,Garam Palace,Thai,"Sikar, TRIPURA",Tanay Bhargava,35,9082703425,4.9,5,False
1,R002,Tandoor Place,Chinese,"Adoni, GOA",Wazir Kale,36,7031727188,2.3,6,False
2,R003,Mithai Corner,Mexican,"Imphal, GUJARAT",Yadavi Lal,23,7095149150,3.4,5,False
3,R004,Sizzler Royale,Continental,"Baranagar, ANDHRA PRADESH",Ekta Desai,35,7025638466,2.7,10,True
4,R005,Flavors Express,Chinese,"Asansol, NAGALAND",Gaurang Issac,35,7013689628,4.6,5,False
...,...,...,...,...,...,...,...,...,...,...
75,R076,Dosa Kitchen,Chinese,"Tezpur, BIHAR",Vedant Bora,29,7096620767,4.4,9,True
76,R077,Tandoori Bistro,Indian,"Gandhinagar, MIZORAM",Anay D’Alia,44,9017542224,3.5,8,False
77,R078,Mithai Spice,Chinese,"Silchar, UTTARAKHAND",Yashawini Bhatti,40,7067639289,3.9,5,False
78,R079,Biryani Royale,Italian,"Faridabad, HARYANA",Ekalinga Khalsa,20,6039510994,3.9,9,False
79,R080,Naan Spice,Mexican,"Sagar, HARYANA",Omkaar Seth,31,6081175114,5.0,8,False

In [56]:
restaurants_df.iloc[0:50]

,restaurant_id,name,cuisine_type,location,owner_name,average_delivery_time(min),contact_number,rating,total_orders,is_active
0,R001,Garam Palace,Thai,"Sikar, TRIPURA",Tanay Bhargava,35,9082703425,4.9,5,False
1,R002,Tandoor Place,Chinese,"Adoni, GOA",Wazir Kale,36,7031727188,2.3,6,False
2,R003,Mithai Corner,Mexican,"Imphal, GUJARAT",Yadavi Lal,23,7095149150,3.4,5,False
3,R004,Sizzler Royale,Continental,"Baranagar, ANDHRA PRADESH",Ekta Desai,35,7025638466,2.7,10,True
4,R005,Flavors Express,Chinese,"Asansol, NAGALAND",Gaurang Issac,35,7013689628,4.6,5,False
5,R006,Annapurna Kitchen,Thai,"Jhansi, PUNJAB",Saumya Bora,47,8070623985,2.2,7,True
6,R007,Flavors Tale,Continental,"Dehradun, PUNJAB",Janaki Bhargava,38,6063976605,2.4,10,False
7,R008,Dosa Co,Thai,"Khammam, BIHAR",Widisha Kapur,60,9044719028,1.5,10,True
8,R009,Sizzler Kitchen,Italian,"Anantapur, KARNATAKA",Chandresh Hegde,30,6097068652,2.6,6,True
9,R010,Flavors Spice,Indian,"Akola, GOA",Advik Bhatt,41,9094887630,4.0,7,True
10,R011,Paneer Bliss,Italian,"Guwahati, MIZORAM",Ronith Sur,56,6052626038,2.5,7,False
11,R012,Spice Bliss,Continental,"Ambattur, UTTARAKHAND",Jacob Anand,35,9088010319,4.2,10,False
12,R013,Garam Tale,Italian,"Durg, MEGHALAYA",Ishanvi Palla,31,7026341573,4.6,9,False
13,R014,Chai Co,Chinese,"Kottayam, ASSAM",Hemangini Anne,31,9067823684,3.5,5,False
14,R015,Spice Royale,Italian,"Bidar, CHHATTISGARH",Henry Singhal,34,9052972896,4.0,9,True
15,R016,Kebab Tale,Thai,"Thiruvananthapuram, KARNATAKA",Gauri Minhas,29,8041671936,4.4,6,False
16,R017,Chaat Express,Thai,"South Dumdum, KERALA",Samuel Nagar,38,6047728522,2.9,9,True
17,R018,Saffron Haven,Thai,"Chennai, MEGHALAYA",Advik Rattan,21,9010838685,3.8,8,True
18,R019,Chaat Kitchen,Chinese,"Tezpur, ANDHRA PRADESH",Abhiram Bedi,49,6015984692,4.6,10,True
19,R020,Curry Mahal,Indian,"Machilipatnam, ASSAM",Kabir Mahal,45,9099306413,5.0,9,False
20,R021,Tandoor Express,Mexican,"Tinsukia, GUJARAT",Daksh Uppal,56,8045778812,4.0,7,False
21,R022,Garam Spice,Mexican,"Khandwa, HIMACHAL PRADESH",Farhan Lall,38,7097371639,3.4,5,False
22,R023,Annapurna Kingdom,Thai,"Jehanabad, UTTARAKHAND",David Chawla,60,6072537421,4.6,8,True
23,R024,Flavors Express,Chinese,"Kadapa, PUNJAB",Isaiah Issac,27,6047327043,4.6,9,True
24,R025,Naan Tale,Chinese,"Nellore, UTTARAKHAND",Yochana Sodhi,53,9030106738,4.0,5,True
25,R026,Sizzler Haven,Chinese,"Bhopal, RAJASTHAN",Zaid Raman,23,7033573605,2.8,5,False
26,R027,Garam Kitchen,Thai,"Bulandshahr, MAHARASHTRA",Ishaan Kothari,28,8084836573,2.9,7,False
27,R028,Kebab Kingdom,Mexican,"Indore, MADHYA PRADESH",Jason Bansal,23,8037613566,4.2,6,True
28,R029,Naan Place,Mexican,"Patiala, TRIPURA",Robert Sampath,28,7033020887,4.6,9,False
29,R030,Naan World,Thai,"Pallavaram, KERALA",Aarini Chacko,50,9055658775,3.7,9,True
30,R031,Biryani Bliss,Mexican,"South Dumdum, NAGALAND",Shaurya Bora,27,7081103073,4.1,6,False
31,R032,Roti Co,Chinese,"Hajipur, ASSAM",Hredhaan Nigam,42,7035381176,2.8,8,False
32,R033,Curry World,Chinese,"Ozhukarai, HIMACHAL PRADESH",Turvi Mutti,25,9036142112,4.8,7,False
33,R034,Spice Haven,Mexican,"Nadiad, BIHAR",Suhani Gera,22,9042775739,1.5,10,False
34,R035,Rasa Co,Chinese,"Mumbai, UTTARAKHAND",Ishwar Golla,41,9092751159,3.6,6,True
35,R036,Rasa Station,Mexican,"Amritsar, NAGALAND",Hemangini Sagar,45,9069886362,5.0,10,True
36,R037,Chai Place,Continental,"Bally, MAHARASHTRA",Anirudh Virk,60,9031084001,2.2,8,False
37,R038,Tandoori Bliss,Chinese,"Arrah, ASSAM",Logan Shan,27,6034994464,3.4,6,False
38,R039,Naan Royale,Thai,"Dhule, WEST BENGAL",Anthony Krishna,22,6025039399,3.3,6,False
39,R040,Dosa Tale,Indian,"Begusarai, GOA",Bhavini Natt,25,8082987899,4.3,6,False
40,R041,Rasa World,Mexican,"Bhopal, WEST BENGAL",Brinda Vohra,31,8036784589,3.3,5,False
41,R042,Chaat Palace,Thai,"Muzaffarpur, UTTAR PRADESH",Frado Ahuja,21,8074448909,2.6,10,False
42,R043,Naan Corner,Thai,"Jodhpur, TAMIL NADU",Saksham Singhal,58,9017418463,1.1,9,False
43,R044,Mithai Mahal,Mexican,"Bhiwandi, UTTAR PRADESH",Zayyan Mishra,38,6070572368,4.0,8,True
44,R045,Paneer Bistro,Chinese,"Jodhpur, TRIPURA",Simon Peri,27,9048036749,4.6,5,False
45,R046,Flavors Delight,Mexican,"Pudukkottai, KERALA",Gaurang Sodhi,40,8080394808,1.0,9,True
46,R047,Roti Palace,Mexican,"Eluru, MANIPUR",Dayamai Deep,20,9066488408,3.4,6,False
47,R048,Kebab Delight,Continental,"Begusarai, ARUNACHAL PRADESH",Hamsini Chaudhry,29,7011600967,3.0,9,False
48,R049,Rasa Spot,Continental,"Kurnool, HARYANA",Brinda Aurora,22,9026524787,2.2,6,True
49,R050,Golden House,Indian,"Gangtok, HARYANA",Faraj Rajan,57,8038492262,2.8,5,True

In [57]:
orders_df.iloc[34:50]

,order_id,customer_id,restaurant_id,order_date,delivery_time,status,total_amount,payment_mode,discount_applied,feedback_rating
34,O035,C176,R060,2025-01-17,08:46 AM,Delivered,424.67,UPI,65,1.7
35,O036,C116,R072,2025-01-11,04:12 AM,Cancelled,556.22,Credit Card,112,3.9
36,O037,C088,R051,2025-01-22,11:47 PM,Cancelled,949.01,Credit Card,113,1.0
37,O038,C188,R020,2025-01-10,07:16 PM,Delivered,380.27,Cash,71,2.9
38,O039,C133,R060,2025-01-08,03:19 PM,Pending,343.43,UPI,129,3.2
39,O040,C020,R001,2025-01-19,10:34 PM,Pending,854.15,UPI,143,2.8
40,O041,C101,R026,2025-01-15,12:55 PM,Cancelled,330.86,Cash,89,1.3
41,O042,C005,R051,2025-01-31,09:00 PM,Pending,326.34,UPI,113,3.4
42,O043,C105,R032,2025-01-27,11:49 AM,Pending,131.62,UPI,85,2.3
43,O044,C050,R063,2025-01-01,09:26 PM,Pending,648.60,Cash,81,1.8
44,O045,C005,R044,2025-01-30,06:57 AM,Delivered,197.30,UPI,117,3.9
45,O046,C089,R039,2025-01-29,04:34 PM,Cancelled,426.19,Cash,126,2.7
46,O047,C045,R054,2025-01-29,12:06 PM,Pending,612.39,UPI,77,1.7
47,O048,C111,R049,2025-01-06,03:09 PM,Cancelled,270.39,Credit Card,144,3.5
48,O049,C084,R071,2025-01-01,05:53 AM,Cancelled,988.77,UPI,50,2.1
49,O050,C124,R026,2025-01-06,12:29 PM,Pending,232.55,Cash,58,2.1

In [58]:
orders_df.iloc[340:370]

,order_id,customer_id,restaurant_id,order_date,delivery_time,status,total_amount,payment_mode,discount_applied,feedback_rating
340,O341,C152,R051,2025-01-14,03:25 PM,Delivered,548.76,UPI,108,4.6
341,O342,C175,R066,2025-01-11,08:38 PM,Cancelled,513.36,Credit Card,114,2.7
342,O343,C049,R062,2025-01-20,10:01 AM,Cancelled,330.44,Cash,134,4.2
343,O344,C119,R033,2025-02-01,11:50 PM,Delivered,377.24,UPI,101,3.8
344,O345,C043,R069,2025-01-13,09:30 PM,Pending,228.69,Credit Card,80,2.6
345,O346,C030,R044,2025-01-29,11:33 PM,Pending,215.20,UPI,119,1.3
346,O347,C046,R010,2025-01-13,03:30 AM,Delivered,799.74,Cash,71,1.6
347,O348,C105,R022,2025-01-20,04:46 PM,Delivered,440.19,UPI,122,3.9
348,O349,C152,R005,2025-02-04,02:17 AM,Delivered,375.52,UPI,89,1.0
349,O350,C107,R079,2025-01-11,07:12 PM,Pending,291.19,Credit Card,57,4.0
350,O351,C032,R005,2025-01-25,12:23 AM,Pending,512.27,Credit Card,89,4.6
351,O352,C193,R025,2025-01-27,09:18 AM,Delivered,158.27,Credit Card,80,1.6
352,O353,C181,R010,2025-01-25,09:31 PM,Delivered,393.89,Cash,105,2.9
353,O354,C166,R046,2025-01-29,09:00 AM,Cancelled,117.63,Credit Card,104,2.4
354,O355,C011,R053,2025-01-02,07:02 AM,Delivered,431.94,UPI,62,2.1
355,O356,C159,R025,2025-01-07,10:47 AM,Delivered,567.01,Credit Card,52,3.2
356,O357,C039,R073,2025-01-30,08:31 PM,Pending,480.10,Credit Card,130,4.6
357,O358,C031,R004,2025-01-12,06:06 AM,Pending,423.75,UPI,106,2.9
358,O359,C045,R047,2025-01-05,09:05 PM,Pending,445.86,Cash,143,2.9
359,O360,C112,R044,2025-01-26,01:13 AM,Cancelled,519.95,UPI,115,2.0
360,O361,C193,R064,2025-01-24,05:54 PM,Delivered,380.47,Credit Card,97,1.9
361,O362,C200,R067,2025-01-31,06:23 PM,Delivered,345.19,Credit Card,118,4.2
362,O363,C113,R044,2025-02-04,03:31 AM,Cancelled,646.15,Cash,117,2.6
363,O364,C145,R069,2025-01-29,12:53 PM,Pending,650.01,Credit Card,100,2.2
364,O365,C195,R057,2025-01-15,08:17 PM,Pending,944.33,Cash,120,1.9
365,O366,C116,R018,2025-02-03,03:24 AM,Pending,772.98,Cash,85,3.3
366,O367,C101,R069,2025-01-11,06:58 PM,Delivered,753.96,UPI,108,1.1
367,O368,C047,R080,2025-01-14,03:23 AM,Cancelled,710.80,Credit Card,79,3.5
368,O369,C157,R018,2025-01-22,05:16 PM,Cancelled,897.95,UPI,122,2.2
369,O370,C132,R013,2025-01-15,03:45 AM,Pending,853.25,Cash,53,4.4

In [59]:
delivery_persons_df

,delivery_person_id,name,contact_number,vehicle_type,total_deliveries,average_rating,location
0,D001,Ayaan,8014794818,Bike,8,4.4,"Bilaspur, UTTARAKHAND"
1,D002,Udarsh,6063479590,Car,7,4.4,"Gulbarga, MIZORAM"
2,D003,Nachiket,8022813378,Bike,14,3.8,"Kakinada, PUNJAB"
3,D004,Rushil,7041895700,Car,6,4.4,"Naihati, MEGHALAYA"
4,D005,Teerth,6053687095,Car,6,3.5,"Bhalswa Jahangir Pur, ARUNACHAL PRADESH"
5,D006,Harrison,8063919269,Bike,9,1.6,"Kharagpur, MIZORAM"
6,D007,Jai,9093333241,Bike,13,3.9,"Muzaffarnagar, MIZORAM"
7,D008,Atharv,6086982044,Bike,10,1.4,"Gangtok, TAMIL NADU"
8,D009,Jatin,8043708210,Bike,11,4.5,"Jaipur, MIZORAM"
9,D010,Pranit,9022759401,Car,10,4.1,"Nellore, ODISHA"
10,D011,Faras,7090178014,Car,14,1.6,"Kottayam, ODISHA"
11,D012,Balendra,8033431259,Bike,10,4.3,"Avadi, ANDHRA PRADESH"
12,D013,Samesh,7043135367,Car,9,2.4,"Phagwara, ASSAM"
13,D014,Chakradhar,7071884465,Car,15,3.9,"Ajmer, GUJARAT"
14,D015,Daksh,6047943342,Car,13,2.5,"Malda, GUJARAT"
15,D016,Advay,6013300170,Car,8,3.9,"Mau, HARYANA"
16,D017,Pranit,7054686814,Bike,11,3.6,"Bellary, MADHYA PRADESH"
17,D018,Guneet,6010273184,Car,5,3.6,"Indore, GUJARAT"
18,D019,Gagan,6082992356,Bike,13,2.8,"Bathinda, UTTAR PRADESH"
19,D020,Guneet,8064473767,Bike,15,4.7,"Satna, UTTAR PRADESH"
20,D021,Utkarsh,6030244153,Bike,13,1.4,"Bhilai, HIMACHAL PRADESH"
21,D022,Gopal,9091761935,Car,10,1.1,"Tumkur, UTTARAKHAND"
22,D023,Naksh,6010989308,Car,13,4.2,"Burhanpur, SIKKIM"
23,D024,Charan,6084485590,Bike,6,3.3,"Ambattur, RAJASTHAN"
24,D025,Liam,9073398940,Bike,6,2.7,"Singrauli, UTTARAKHAND"
25,D026,Chandresh,8053110518,Bike,9,1.7,"Hajipur, ASSAM"
26,D027,Mohammed,9021491613,Bike,13,4.1,"Cuttack, PUNJAB"
27,D028,Rayaan,7032819229,Bike,11,3.6,"Patna, BIHAR"
28,D029,Jatin,7061151937,Car,11,2.5,"Noida, HIMACHAL PRADESH"
29,D030,Teerth,9049544596,Car,12,1.2,"Raurkela Industrial Township, HARYANA"
30,D031,Baljiwan,7037258368,Bike,12,1.2,"Mathura, UTTAR PRADESH"
31,D032,Ikbal,9090136845,Bike,7,2.7,"Vellore, MEGHALAYA"
32,D033,Gaurang,8024441010,Car,14,1.6,"Morbi, RAJASTHAN"
33,D034,Owen,6049954744,Bike,15,2.8,"Vijayawada, PUNJAB"
34,D035,Ekavir,7051672736,Car,14,2.2,"Phagwara, MAHARASHTRA"
35,D036,Ojas,6045375908,Car,8,2.9,"Bhubaneswar, TRIPURA"
36,D037,Mason,6091615925,Bike,11,1.9,"Jamnagar, SIKKIM"
37,D038,Gabriel,9035975182,Car,13,4.4,"Kakinada, ODISHA"
38,D039,Aarnav,9098481736,Bike,8,1.1,"Kavali, MADHYA PRADESH"
39,D040,Harsh,8035383563,Car,6,1.5,"Tiruvottiyur, MAHARASHTRA"

In [60]:
deliveries_df

,delivery_id,order_id,delivery_person_id,delivery_status,distance(km),delivery_time(min),estimated_time(min),delivery_fee,vehicle_type
0,DLY001,O059,D006,Delivered,4,50,47,134,Bike
1,DLY002,O044,D020,Delivered,3,38,53,105,Bike
2,DLY003,O128,D018,On the way,14,30,50,64,Car
3,DLY004,O040,D024,On the way,14,43,59,79,Bike
4,DLY005,O056,D019,On the way,2,41,37,130,Bike
...,...,...,...,...,...,...,...,...,...
395,DLY396,O159,D023,Delivered,9,43,57,42,Car
396,DLY397,O212,D024,Delivered,5,21,42,141,Bike
397,DLY398,O040,D031,Delivered,3,16,25,91,Bike
398,DLY399,O109,D015,Delivered,9,41,52,104,Car
399,DLY400,O044,D019,Delivered,10,18,54,70,Bike